*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active-project-1 .h-avatar {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}
.mp{
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    right: 250px;
    top: 7px;
}
.avatar {
    position: relative;
    margin-right: 20px;
}
.err{
    display: none;
}
.d-err{
    display: block;
}

.active-project-1 .h-avatar.is-medium .avatar {
    width: 60px;
    min-width: 60px;
    height: 60px;
}
.bg-danger {
    color: #fff!important;
    background-color: #f42b3d!important;
}
#loading {
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
  }
  